html, body {
	height: 200%;
	width: 100%;
	margin: 0 auto;
	background: #005AA3;
}
.address {
	float: both;
	text-align: right;
	font-family: 'Lucida Grande', Helvetica, arial, sans-serif;
	background-color: #004E8E;
	color: #90B2CE;
	font-size: 10px;
	height: 1.1%;
	padding: 1%;
	box-sizing: border-box;
	border-bottom: solid 1px #3184C4;
}

.parent {
	height: 95%;
	width: 95%;
	max-width: 929px;
	background: white;
	margin: auto;
	margin-top: 1.6%;
	padding: 2.48%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.title {
	display: flex;
	flex-direction: row;
		
}
